section { 
margin :1rem auto;
width: 90%;
max-width:40rem;
text-align: center;
background-color: white;
padding: 2rem;
border-radius: 12px;

}
 button {
  font: inherit;
  cursor: pointer;
  background: blue;
  border: blue;
  color: white;
  padding: 0.75rem 2rem;
 }