.customer {
    margin:1rem;
    padding:1rem;
    background-color:blue;
    box-shadow:0 2px white;
    border-radius: 12px;
    text-align: center;
    color: white;
    color: red;
}
.customer h2 {
    font-size: 2rem;
    color: yellow;
}
.customer h3 {
    color: yellow;
    margin:0;
    font-size:1rem;
}